
*{
  margin:0;
  padding: 0;
}

body{
  font-family: Medium !important;
}

@font-face{
  src:url('asset/fonts/Raleway-Bold.ttf');  
  font-family: Bold;
}

@font-face{
  src:url('asset/fonts/Raleway-Medium.ttf');
  font-family: Medium;
}

@font-face{
  src:url('asset/fonts/Raleway-Regular.ttf');
  font-family: Regular;
}

@font-face{
  src:url('asset/fonts/Raleway-Light.ttf');
  font-family: Light;
}

input,button,textarea,select{
  box-sizing: border-box;
  outline: none !important;
  transition: border .3s ease;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  -o-transition: border .3s ease;
  border:none;
}

li{
  list-style: none;
}

a{
  text-decoration:none !important;
  transition: color, background .3s ease;
  -webkit-transition: color, background .3s ease;
  -moz-transition: color, background .3s ease;
  -o-transition: color, background .3s ease;
}

img{
  max-width: 100%;
}

.h1, .h2, .h3, h1, h2, h3{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Dekstop */

/* bawaan */

.title{
  font-family: Regular;
  width: 50%;
  border-bottom: dashed 2px #DDDDDD;
  padding-bottom: 7px;
}

.title h2{
  position: relative;
  text-shadow:0px 0px 1px;
  color: #2B4450;
}

.title:before{
  top: 30px;
  position:absolute;
  font-family: Bold;
  font-size: 80px;
  color: #DFEBED;
}

.thumbnail{
  -webkit-box-shadow:none;
  box-shadow:none;
  border: 0px;
  padding: 10px;
}

.bottom{
  margin-top: 40px;
}

/* Navbar Top */

.logo{
  height: 50px;
}

.logo img{
  height: 80px;
}

.header-img a:hover{
  background-color: transparent !important;
}

#navbar{
  margin-top: 15px;
}

#navbar ul li a{
  color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;  
}

.active{
  border-bottom: 0px;
  color: #fff !important;
}

.active:hover{
  color: #e0e0e0 !important;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;  
}

.navbar-brand, .navbar-nav>li>a{
  text-shadow:0px 0px 0px transparent !important;
}

#navbar ul li a:hover, #navbar ul li a:focus, #navbar ul li a:target{
  color: #e0e0e0 !important;
  background-color: transparent;
}

.navbar-nav>li>a{
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav>li>a{
  padding: 10px 15px !important;
}

/* header */

#header{
  background:url('asset/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.header-blur{
  background-color: rgba(0,0,0,.8);
  padding: 20px 0px 20px 0px;
}

.header-img img{
  height: 45px;
  margin-top: 10px;
}

.header-content-container{
  margin: 180px 0px;
}

.header-content-scroll a{
  color: #fff;
  font-size: 27px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.header-content-scroll a:hover{
  color:#F78536 !important;
  background-color: transparent;
}

/* about us */

#about{
  padding: 150px 0px 120px 0px;
  position: relative;
  background: url('asset/img/9.png');
  background-size: cover;
  background-attachment:fixed;
  background-position: 0px -100px;
}

.about-title{
  text-align: left;
  margin: 0 0;
}

.about-title:before{
  content: 'About Us';
  top: 80px;
  right: 0px;
  left: 0px;
}

.about-content{
  width: 60%;
  margin-top: 15px;
  color: #7A7A7A;
}

.about-follow{
  margin-top: 10px;
  cursor: default;
}

.about-follow ul li{
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.about-follow ul li a{
  color: #F78536;
  font-size: 23px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease; 
}

.about-follow ul li a:hover{
  background-color: transparent;
  color: #497285 !important;
}

/* Layanan */

#service{
  position: relative;
  padding: 100px 0px;
  background-color: #F7F7F7;
}

.service-title{
  text-align: center;
  margin: 0 auto;
}

.service-title:before{
  content: 'Our Service';
  right: 50px;
  left: 50px;
}

.service-content{
  margin-top: 50px;
  text-align: center;
}

.service-col{
  border-right: 1px #D9D9D9 solid;
  border-bottom: 1px #D9D9D9 solid;
  padding: 40px 20px;
  min-height: 270px;
  position: relative;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease; 
}

.service-col:hover{
  background-color: #fff;
  box-shadow: 0px 40px 80px #C2C2C2;
}

#service, .col-md-4:nth-of-type(3) .service-col, .col-md-4:nth-of-type(6)  .service-col{
  border-right: 0px;
}

#service, .col-md-4:nth-of-type(4) .service-col,.col-md-4:nth-of-type(5) .service-col,.col-md-4:nth-of-type(6) .service-col{
  border-bottom: 0px !important;
}

.service-col i{
  font-size: 50px;
  color: #A6A6A6;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease; 
}

.service-col:hover > i{
  color: #F78536;
}

.service-col h3{
  font-family: Medium;
  text-shadow:0px 0px 1px;
  padding: 20px 0px 10px 0px;
  color: #2B4450;
}

.service-col p{
  font-size: 15px;
  color: #7A7A7A;
}

#service .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-right: 0px;
  padding-left: 0px;
}

/* Work */

#work{
  position:relative;
  padding: 100px 0px;
  max-width: 100% !important;
  overflow: hidden;
}

.content-title{
  text-align: center;
  margin: 0 auto;
}

.content-title:before{
  content: 'Our Work';
  right: 50px;
  left: 50px;
}

.content-p{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  color: #7a7a7a;
}

.content-ul{
  margin-top: 50px;
}

.content-ul ul{
  margin-bottom: 20px;
  cursor: default;
}

.uk-subnav-pill>.uk-active>*{
  background-color: #F78536 !important;
  color: #fff !important;
}

.content-ul ul li{
  display: inline-block;
}

.content-ul ul li a{
  border: solid 1px #F78536;
  color: #F78536;
  padding: 10px 15px;
  border-radius: 2px;
}

.content-ul ul li a:active, a:hover{
  background-color: #F78536;
  color: #fff !important;
}

#content-col{
  margin-top: 30px;
}

.content-inner{
  position: relative;
  max-height: 200px;
  overflow: hidden;
  border: solid 1px #ccc;
}
.content-inner img{
  width: 100%;
}

.content-hover{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(43,68,80,.9);
  opacity: 0;
  display: flex;
  justify-content:center;
  align-items:center;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease; 
}

.content-hover i{
  color: #fff;
  margin-top: 20px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease; 
}

.content-hover i:hover{
  background: transparent;
}

.content-inner:hover .content-hover{
  opacity: 1;
}

.content-inner:hover .content-hover i{
  margin-top: 0px;
}

/* Testimonials */

#testimonials{
  width: 100%;
  padding: 100px 0px;
  position: relative;
  background-color: #F7F7F7;
  overflow: hidden; 
}

.testimonials-title{
  text-align: center;
  margin: 0 auto;
}

.testimonials-title:before{
  content: 'Testimonials';
  right: 50px;
  left: 50px;
}

.carousel{
  margin-top: 30px;
}

.carousel-control.left, .carousel-control.right{
  background-image: inherit;
}

.carousel-control.left:hover, .carousel-control.right:hover{
  background-color: transparent; 
}

.glyphicon-chevron-left:before{
  background-color: #F79C5C;
  margin-left: -50px;
  padding: 10px 15px;
}

.glyphicon-chevron-right:before{
  background-color: #F79C5C;
  margin-right: -50px;
  padding: 10px 15px;
}

.testimonials-content-col{
  background-color: #fff;
  color: #7a7a7a;
  width: 90%;
  margin: 0 auto;
}

.testimonials-inner{
  padding: 30px 40px;
}

.testimonials-inner ul{
  margin: 0px 0px 0px 15px;
}

.testimonials-inner ul li{
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.testimonials-inner .h4, h4{
  margin-bottom: 0px;
}

.testimonials-inner ul li p{
  margin-top: 0px;
}

.testimonials-inner p{
  margin-top: 10px;
}

/* started */

#sletter{
  background:url('asset/img/map.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: -450px 80px;
}

.sletter-blur{
  background-color: rgba(43,68,80,.9);
  padding: 40px 0px 60px 0px;
}

.sletter-content{
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #A6A6A6;
  text-align: center;
  margin-top: -100px;
  z-index: 10;
  position: relative;
}

.sletter-content form{
  border: solid 1px #2B4450;
  padding: 5px;
  border-radius: 3px;
}

.sletter-content input, button{
  padding: 10px 0px;
  font-size: 18px;
}

.sletter-content form input{
  width: 79%;
  float: left;
  padding-left: 10px;
}

.sletter-content form button{
  width: 19%;
  float: right;
  background-color: transparent;
  background-color: #2B4450;
  color: #fff;
}

.sletter-inner{
  width: 40%;
  text-align: center;
  color: #fff !important;
  margin-top: 50px;
}


/* footer */

#footer{
  background-color: #0C1417;
  color: #fff;
  padding: 20px 0px;
}

#footer a{
  color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;  
}

#footer a:hover{
  background-color: transparent;
  color: #F79C5C !important;
}

.navbar-bottom{
  text-align: right;
  cursor: default;
}

.navbar-bottom li{
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

/*About Us more page */

#aboutUS{
  padding: 100px 0px;
  position: relative;
}

.aboutUS-title{
  text-align: center;
  margin: 0 auto;
}

.aboutUS-title:before{
  content: "About Us";
  right: 50px;
  left: 50px;
}

.aboutUS-title-bottom{
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  width: 90%;
  color: #7A7A7A;
}

.aboutUS-teacher{
  position: relative;
  padding: 100px 0px 0px 0px;
}

.aboutUS-teacher-title{
  text-align: center;
  margin: 0 auto;
}

.aboutUS-teacher-title:before{
  content: "Teacher";
  right: 50px;
  left: 50px;
}

.aboutUS-teacher-inner{
  margin-top: 20px;
}

.teacher-content{
  text-align: center;
  padding: 20px 30px;
  margin: 10px;
  box-shadow: 0px 0px 10px #e0e0e0; 
}

.teacher-img img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:solid 1px #e0e0e0;
}

.teacher-about h4{
  font-family: Light;
  color: #2B4450;
}

.teacher-about p{
  font-family: Bold;
  color: #2B4450;
}




/* Our Work more page */

#ourWork{
  padding: 100px 0px;
  position: relative;
}

.ourWork-search-content{
  margin-top: 80px;
  padding:40px 0px 40px 40px;
}

.input-search form{
  border: solid 1px #2B4450;
  padding: 10px 10px;
  border-radius: 2px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.control-search{
  float: left;
  width: 90%;
}

.input-search .addon{
  float: right;
  width: 10%;
}

.input-select{
  margin-top: 10px;
  color: #2B4450;
}

.input-select ul li a{
  border-bottom: 1px solid #2B4450;
  padding: 10px 0px;
  display: block;
}

.input-select ul li a:before{
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 19px;
  padding: 0px 10px 0px 15px;
    display: inline-block;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}

.input-select ul li a:focus:before{
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.input-select ul li a{
  color: #2B4450;
}

.input-select ul li a:hover{
  color: #2B4450 !important;
  border-bottom: 1px #F78536 solid;
  background-color: transparent;
}

.dropdown-menu{
  -webkit-box-shadow:none;
  box-shadow:none;
  border: none !important;
}

.input-select li li a{
  border-bottom: 0px;
}

.input-select li li a:hover{
  border-bottom: 0px;
}

.dropdown-menu{
  position: static;
  float: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-image: none;
}

.input-select li li a:before{
  content: "";
}

.input-select li li a:hover:before {
  transform: unset !important;
}

.input-select li li a:hover{
  color: #F78536 !important;
}

/* single work page more page */

#single-post{
  padding: 50px 0px;
}

.single-inner-img{
  padding-right: 15px;
}

.single-inner-img img{
  width: 100%;
}

.single-inner-post{
  padding-left: 15px;
}

 .nav-tabs>li>a{
  color: #333;
 }

 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: 0px;
  border-bottom: 3px solid #F78536;
  font-family: Bold;
  background-color: #;
  color: #333 !important;
  border-radius: 0px !important;
 }

 .nav-tabs>li>a:hover{
  border-color: transparent;
 }

 .nav>li>a:focus, .nav>li>a:hover{
  background-color: #2B4450;
  color: #fff;
 }

 #detail, #tentang{
  padding-top: 10px;
 }

 #detail ul li{
  font-family: Light;
  display: inline-block;
  font-size: 17px;
 }

 #tentang h2{
  padding-bottom: 5px;
 }

 #tentang p{
  font-size: 17px;
  font-family: Light;
 }

.single-more{
  margin-top: 20px;
}

#single-more-row{
  margin-top: 5px;
}

.single-content-inner{
  margin: 10px;
}



/* ---- Contact Us more page */

#contactUS{
  padding: 100px 0px;
  position: relative;
}

.contactUS-title{
  text-align: center;
  margin: 0 auto;
}

.contactUS-title:before{
  content: 'Contact Us';
  right: 50px;
  left: 50px;
}

.contactUS-title-bottom{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: #7a7a7a;
}

.map-title{
  font-family: Bold;
  color: #F78536;
}

.map-inner{
  margin-top: 10px;
}

.map-inner iframe{
  width: 100%;
  height: 400px;
}

.contactUs-title{
  font-family: Bold;
  color: #497285;
}

.contactUs-title-bottom{
  margin-top: 5px;
  width: 80%;
  color: #7A7A7A;
}

.contactUS-inner-content{
  margin-top: 20px;
}

.contactUS-inner-content .thumbnail{
  margin-bottom: 0px;
}

.contactUS-inner-content input,textarea{
  width: 100%;
  padding: 15px !important;
  border: solid 1px #497285;
  border-radius: 3px;
}

.contactUS-inner-content textarea{
  padding: 10px 15px 0px 15px !important;
  height: 200px;
}

.contactUS-inner-content button{
  padding: 10px 40px;
  float: right;
  border-radius: 3px;
  font-size: 15px;
  background-color: #F78536;
  margin: 0px 10px;
  color: #fff;
  transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}

.contactUS-inner-content button:hover{
  background-color: #497285;
  color: #fff;
}



/*------------------ Responsive ------------------
  ------------------
  ------------------            ------------------*/


@media screen and (max-width: 999px){

  .about-title:before ,.service-title:before, .testimonials-title:before, .contactUS-title:before, .aboutUS-title:before, .aboutUS-teacher-title:before{
    display: none;
  }

  .service-col{
    border: 0px !important;
  }

  .service-col i{
    color: #333;
  }

  .service-col:hover{
    background-color: transparent;
    box-shadow: none;
  }

  .content-title:before{
    display: none;
  }

  .content-ul ul li{
    margin-bottom: 25px;
  }

  .work-content-inner{
    max-height: 300px;
  }

  #service .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 15px;
    padding-left: 15px;
  }

  .sletter-inner{
    width: 60%;
  }

  .navbar-bottom{
    display: none;
  }

  .single-inner-img{
    padding-right: 0px;
  }

  .single-inner-post{
    padding-left: 0px;
  }


}

@media screen and (max-width: 768px){

  .logo img{
    height: 35px;
    margin-top: 13px;
  }

  .navbar{     
     margin-bottom: 0px;  
   }

  .navbar-top{
    background-color:rgba(51,51,51,.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    color: #FF5252;
  }

  .nav>li>a{
    text-align: center;
  }

  .navbar-toggle{
    padding: 12px 0px;
    margin-right: 0px;
  }

  .header-content-container{
    margin: 140px 0px 120px 0px;
  }

  .header-content-title h1{
    font-size: 44px !important;
  }

  .header-content-inner{
    font-size: 15px;
  }

  .about-content{ 
    width: 90%;  
  }

  .content-inner{
    max-height: 250px; 
    overflow: hidden;
  } 

  .glyphicon-chevron-left:before{
    margin-left: -10px;
  }

  .glyphicon-chevron-right:before{
    margin-right: -10px;
  }

  .sletter-content{
    width: 100%;
  }

  .sletter-content input, button{
    font-size: 14px;
  }

  .sletter-inner{
    width: 80%;
  }

  .footer-content p{
    padding-left: 15px;
  }

  .ourWork-search-content{
    padding: 0px;
    margin-top: 20px;
  }

  .contactUs-title-bottom{
    width: 100%;
  }

  .contactUS-inner-content button{
    margin: 0px 25px;
  }

}
